*{
   margin: 0;
   padding: 0;
}

.header{
   height: 40px;
   background-color: #333;
}

.nav{
   width: 1226px;
   height: 100px;
   background-color: #ffc0cb;
   margin: 0 auto;
}
.banner{
   width: 1226px;
   height: 460px;
   margin: 0 auto;
   background-color:yellow;
}

.left{
   width: 234px;
   height: 460px;
   background-color: #ffa500;
   float: left;

}
.right{
   width: 992px;
   height: 460px;
   background-color: #87ceeb;
   float: right;

}